.subtask-form {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

    .subtask-form input {
        flex: 1;
        padding: 10px;
        margin-right: 10px;
        border: 1px solid #e0e0e0;
        border-radius: 4px;
    }
